---

---

<section id="education" class="education">
    <div>
        <h1 class="section-title text-center">Education</h1>
        <div class="education-container">
        </div>
    </div>
</section>

<style>

    .section-title {
        font-size: 4.5rem;
        font-weight: 800;
    }

    .education-container {
        height: 200px;
        margin-top: 3rem;
    }

</style>
