<div class="experience">
    <div class="experience-container">
        <h1 class="section-title"> Dónde he trabajado</h1>
    </div>
</div>

<style>
    .experience-container {
        margin-top: 375px;
        color: #ffffff;
        text-align: center;
        height: 1500px;
        padding: 50px 400px;
    }

    .section-title {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }

</style>