---
import Switch from '../widgets/Switch.astro';
const logoIconPath = '/assets/header/logo-darkmode2.png';
---

<header class="header">
    <div class="header-content">
        <a href="/" class="logo">
            <img src={logoIconPath} alt="Logo" />
        </a>
        <div class="navigation-right">
            <a href="#intro">Inicio</a>
            <a href="#about-me">Sobre mí</a>
            <a href="#experience">Experiencia</a>
            <a href="#projects">Proyectos</a>
            <a href="#education">Educación</a>
            <a href="#contact">Contacto</a>
            <div class="navigation-switch">
                <Switch />
            </div>
        </div>
    </div>
</header>

<style>
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #131416ac;
    width: 100%;
    height: 5.25rem;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0 2rem;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    padding-left: 2rem;
    height: 4rem;
    width: auto;
}

.navigation-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.navigation-right a, .navigation-right button {
    margin: 0 0.5rem; 
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    background: none; 
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navigation-right a {
    margin-right: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
}

.navigation-right a:hover, .navigation-right button:hover {
    transform: translateY(-2px);
    color: #427bff;
}


@media (max-width: 768px) {
    .navigation-right a {
        display: none;
    }

    .navigation-switch {
        display: flex;
    }

    .header {
        justify-content: space-between; 
        padding: 1rem; 
    }

    .logo img {
        height: 4rem;
    }
}

</style>
