---
import LinkedIn from '../svg/LinkedIn.astro';
import GitHub from '../svg/GitHub.astro';
import CV from '../svg/CV.astro';
---

<div id="intro" class="intro">
    <h1>César Pagán</h1>
    <h2>Ingeniero de Software</h2>
    <div class="row">
        <a href="https://www.linkedin.com/in/cesarpaganv/" target="_blank">
            <div class="icon-text">
                <LinkedIn/>
                <span>LinkedIn</span>
            </div>
        </a>
        <a href="https://github.com/SrKaiser" target="_blank">
            <div class="icon-text">
                <GitHub/>
                <span>GitHub</span>
            </div>
        </a>
        <a href="https://drive.google.com/file/d/1I9PHgZIUCRDernJl5Io0niXtUaD9PMp3/view?usp=sharing" target="_blank">
            <div class="icon-text">
                <CV/>
                <span>Currículum</span>
            </div>
        </a>
    </div>
</div>

<style>
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 7rem;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        color: #427bff;
        position: relative;
    }

    .row {
        display: flex;
        justify-content: center;
        gap: 3.25rem;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .row a {
        font-weight: bold;
        margin-right: 0.5rem;
        transition: transform 0.3s ease; 
        
    }

    .icon-text {
        display: flex;
        align-items: center; 
    }

    .row a:hover {
        transform: scale(1.05);
    }

    .row span {
        font-size: 0.95rem;
        opacity: 0.55;
        transition: opacity 0.3s ease;
        margin-left: 8px;
    }

    .row a:hover span {
        opacity: 1;
    }

    @media (max-width: 768px) {
        .intro {
            margin-bottom: 13rem;
        }

        .intro h1 {
            font-size: 3rem;
        }

        .intro h2 {
            font-size: 2rem;
        }

        .row {
            gap: 2rem;
        }
    }
</style>
