---
const linkedInIconPath = '/assets/linkedin-darkmode.png';
const gitHubIconPath = '/assets/github-darkmode.png';
const cvIconPath = '/assets/cv-darkmode.png';
---

<div class="intro">
    <h1>César Pagán</h1>
    <h2>Ingeniero de Software</h2>
    <div class="row">
        <a href="https://www.linkedin.com/in/cesarpaganv/" target="_blank">
            <img src={linkedInIconPath} alt="LinkedIn" />
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/SrKaiser" target="_blank">
            <img src={gitHubIconPath} alt="GitHub" />
            <span>GitHub</span>
        </a>
        <a href="https://drive.google.com/file/d/1I9PHgZIUCRDernJl5Io0niXtUaD9PMp3/view?usp=sharing" target="_blank">
            <img src={cvIconPath} alt="GitHub" />
            <span>Currículum</span>
        </a>
    </div>
</div>
<style>
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px; 
        text-align: center;
        margin-top: 9rem;
        margin-bottom: 4rem;
    }

    h1, h2 {
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        color: #427bff;
        position: relative;
    }

    .row {
        display: flex;
        justify-content: center; 
        gap: 3.25rem;
        flex-wrap: wrap; 
        margin-top: 1rem; 
    }

    .row a {
        display: flex;
        align-items: center; 
        text-decoration: none;
        transition: transform 0.3s ease, opacity 0.3s ease; 
    }

    .row a:hover {
        transform: scale(1.05); 
    }

    .row img {
        height: 2.75rem;
        margin-right: 0.5rem;
        width: auto;
        transition: transform 0.3s ease; 
    }

    .row span {
        font-family: 'Roboto', sans-serif;
        font-size: 0.95rem;
        opacity: 0.55;
        transition: opacity 0.3s ease; 
    }

    .row a:hover span {
        opacity: 1;
    }

</style>
