---
import Spain from "../svg/Spain.astro";
import UK from "../svg/UK.astro";
---

<div class="language-switch">
    <div class="languages">
        <div class="icon-text">
            <Spain/> <span>Español</span>
        </div>
        <div class="separator"></div>
        <div class="icon-text">
            <UK/> <span>English</span>
        </div>
    </div>
</div>

<style>

.language-switch {
    margin-left: 2.5rem;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: #151515;
    padding: 10px;
    width: 140px;
    height: 75px;
    z-index: 999;
    bottom: -32px;
    left: 0;
    position: fixed;
    transition: bottom 0.3s ease;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
    box-shadow: -1px -3px 8px rgba(0, 0, 0, 0.5);
}

.language-switch:hover {
    bottom: 0px;
}

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center; 
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.separator {
    border: 1px solid #292828;
    width: 100%;
}

.icon-text span {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .language-switch{
        margin-left: 1.5rem;
    }
}

</style>