---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="César Pagán | Ingeniero de Software">
    <main>
        <Header/>
        <Intro/>
        <AboutMe/>
        <Experience/>
    </main>
</Layout>
