---
import TeamWork from "../svg/softskills/TeamWork.astro";
import Learning from "../svg/softskills/Learning.astro";
import Comunication from "../svg/softskills/Comunication.astro";
import Adaptability from "../svg/softskills/Adaptability.astro";
import Proactivity from "../svg/softskills/Proactivity.astro";
import Waves1 from "../svg/waves/Waves1.astro";
import Waves2 from "../svg/waves/Waves2.astro";
import Waves3 from "../svg/waves/Waves3.astro";
import WavesReverse from "../svg/waves/WavesReverse.astro";
const { currentLanguage } = Astro.props;
---

<section id="about-me" class="about-me">
    <div class="column">
        <div class="waves-level-1"><Waves1/></div>
        <div class="waves-level-2"><Waves2/></div>
        <div class="waves-level-3"><Waves3/></div>
        <div class="about-container">
            <h1 class="section-title" id="about-title">{currentLanguage === 'spanish' ? 'Sobre mí' : 'About Me'}</h1>
            <p class="section-text" id="about-text1">
                {currentLanguage === 'spanish' ?
                'Soy un Ingeniero Informático con especialización en Desarrollo de Software, llevando casi un año de experiencia en Desarrollo Web Full-Stack y de Aplicaciones Móviles. Mi curiosidad me lleva a explorar las últimas tendencias y tecnologías, siempre buscando ampliar mis horizontes y superar nuevos retos.' :
                'I am a Computer Engineer specializing in Software Development, with nearly a year of experience in Full-Stack Web Development and Mobile Applications. My curiosity drives me to explore the latest trends and technologies, always seeking to broaden my horizons and overcome new challenges.'}
            </p>
            <p class="section-text" id="about-text2">
                {currentLanguage === 'spanish' ?
                'Mi pasión por la innovación y la calidad en el desarrollo de software me motiva a entregar soluciones que no solo satisfacen las necesidades, sino que también ofrecen experiencias excepcionales a los usuarios. Estoy comprometido con el aprendizaje continuo y el crecimiento profesional, con el objetivo de estar siempre al frente en esta industria de rápido avance.' :
                'My passion for innovation and quality in software development drives me to deliver solutions that not only meet needs but also provide exceptional experiences to users. I am committed to continuous learning and professional growth, aiming to always stay ahead in this rapidly advancing industry.'}
            </p>
            <h1 class="section-subtitle" id="skills-title">{currentLanguage === 'spanish' ? 'Habilidades esenciales' : 'Soft Skills'}</h1>
            <div class="row">
                <div class="icon-container">
                    <Proactivity />
                    <span class="description" id="skill-1">{currentLanguage === 'spanish' ? 'Proactividad' : 'Proactivity'}</span>
                </div>
                <div class="icon-container">
                    <TeamWork />
                    <span class="description" id="skill-2">{currentLanguage === 'spanish' ? 'Trabajo en Equipo' : 'Team Work'}</span>
                </div>
                <div class="icon-container">
                    <Learning />
                    <span class="description" id="skill-3">{currentLanguage === 'spanish' ? 'Aprendizaje' : 'Learning'}</span>
                </div>
                <div class="icon-container">
                    <Comunication />
                    <span class="description" id="skill-4">{currentLanguage === 'spanish' ? 'Comunicación' : 'Communication'}</span>
                </div>
                <div class="icon-container">
                    <Adaptability />
                    <span class="description" id="skill-5">{currentLanguage === 'spanish' ? 'Adaptabilidad' : 'Adaptability'}</span>
                </div>
            </div>
        </div>
        <div class="waves-reverse"><WavesReverse/></div>
    </div>
</section>


<style>
    .section-title,
    .section-subtitle {
        color: white;
        margin-bottom: 2rem;
    }

    .section-text {
        font-size: 1.25rem;
        text-align: start;
        margin-bottom: 2rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .about-container {
        background-color: var(--blue-titles-color);
        color: #ffffff;
        text-align: center;
        padding: 0% 15%;
    }

    .waves-level-1,
    .waves-level-2,
    .waves-level-3 {
        width: 100%;
        top: 2px;
    }

    .waves-level-1,
    .waves-level-2 {
        position: absolute;
    }

    .waves-reverse {
        margin-top: -2px;
        width: 100%;
        transform: rotate(180deg);
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-container {
        display: inline-block;
        position: relative;
        padding: 0px 30px;
        padding-bottom: 40px;
        padding-top: 20px;
        overflow: hidden;
    }

    .icon-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid white;
        border-radius: 10%;
        clip-path: circle(0% at 50% 90%);
        transition: clip-path 0.8s ease-out;
    }

    .description {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        visibility: hidden;
        opacity: 0;
        transition:
            opacity 0.3s ease,
            visibility 0s linear 0.3s;
    }

    .icon-container:hover::before {
        clip-path: circle(75% at 50% 50%);
    }

    .icon-container:hover .description {
        visibility: visible;
        opacity: 1;
        transition:
            opacity 0.3s ease,
            visibility 0s;
    }

    @media (max-width: 768px) {
        .section-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .section-subtitle {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            white-space: nowrap;
        }

        .section-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .about-container {
            padding: 20px;
        }

        .row {
            flex-wrap: wrap;
        }

        .icon-container {
            padding: 0px 25px; 
            padding-bottom: 35px;
            padding-top: 10px;
            overflow: visible;
            box-sizing: border-box; 
            transform: scale(0.9);
        }

        .description {
            bottom: 2.5px;
            margin-bottom: 5px;
        }

    }
</style>
