---
import TeamWork from "../svg/softskills/TeamWork.astro";
import Learning from "../svg/softskills/Learning.astro";
import Comunication from "../svg/softskills/Comunication.astro";
import Adaptability from "../svg/softskills/Adaptability.astro";
import Proactivity from "../svg/softskills/Proactivity.astro";
const { currentLanguage } = Astro.props;
---

<section id="about-me" class="about-me">
    <div class="waves-level-1"></div>
    <div class="waves-level-2"></div>
    <div class="waves-level-3"></div>
    <div class="about-container">
        <h1 class="section-title" id="about-title">{currentLanguage === 'spanish' ? 'Sobre mí' : 'About Me'}</h1>
        <p class="section-text" id="about-text1">
            {currentLanguage === 'spanish' ?
            'Soy un Ingeniero Informático con especialización en Desarrollo de Software, llevando casi un año de experiencia en Desarrollo Web Full-Stack y de Aplicaciones Móviles. Mi curiosidad me lleva a explorar las últimas tendencias y tecnologías, siempre buscando ampliar mis horizontes y superar nuevos retos.' :
            'I am a Computer Engineer specializing in Software Development, with nearly a year of experience in Full-Stack Web Development and Mobile Applications. My curiosity drives me to explore the latest trends and technologies, always seeking to broaden my horizons and overcome new challenges.'}
        </p>
        <p class="section-text" id="about-text2">
            {currentLanguage === 'spanish' ?
            'Mi pasión por la innovación y la calidad en el desarrollo de software me motiva a entregar soluciones que no solo satisfacen las necesidades, sino que también ofrecen experiencias excepcionales a los usuarios. Estoy comprometido con el aprendizaje continuo y el crecimiento profesional, con el objetivo de estar siempre al frente en esta industria de rápido avance.' :
            'My passion for innovation and quality in software development drives me to deliver solutions that not only meet needs but also provide exceptional experiences to users. I am committed to continuous learning and professional growth, aiming to always stay ahead in this rapidly advancing industry.'}
        </p>
        <h1 class="section-subtitle" id="skills-title">{currentLanguage === 'spanish' ? 'Habilidades esenciales' : 'Soft Skills'}</h1>
        <div class="row">
            <div class="icon-container">
                <Proactivity />
                <span class="description" id="skill-1">{currentLanguage === 'spanish' ? 'Proactividad' : 'Proactivity'}</span>
            </div>
            <div class="icon-container">
                <TeamWork />
                <span class="description" id="skill-2">{currentLanguage === 'spanish' ? 'Trabajo en Equipo' : 'Team Work'}</span>
            </div>
            <div class="icon-container">
                <Learning />
                <span class="description" id="skill-3">{currentLanguage === 'spanish' ? 'Aprendizaje' : 'Learning'}</span>
            </div>
            <div class="icon-container">
                <Comunication />
                <span class="description" id="skill-4">{currentLanguage === 'spanish' ? 'Comunicación' : 'Communication'}</span>
            </div>
            <div class="icon-container">
                <Adaptability />
                <span class="description" id="skill-5">{currentLanguage === 'spanish' ? 'Adaptabilidad' : 'Adaptability'}</span>
            </div>
        </div>
    </div>
    <div class="waves-reverse"></div>
</section>


<style>

    .section-title,
    .section-subtitle {
        color: white;
        margin-bottom: 2rem;
    }

    .section-text {
        font-size: 1.25rem;
        text-align: start;
        margin-bottom: 2rem;
    }

    .about-container {
        position: relative;
        top: 375px;
        background-color: #427bff;
        color: #ffffff;
        text-align: center;
        height: 775px;
        padding: 50px 400px;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .waves-level-1,
    .waves-level-2,
    .waves-level-3 {
        position: absolute;
        width: 100%;
        height: 375px;
        z-index: 3;
    }

    .waves-level-1 {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23427bff" fill-opacity="1" d="M0,128L34.3,106.7C68.6,85,137,43,206,58.7C274.3,75,343,149,411,176C480,203,549,181,617,149.3C685.7,117,754,75,823,90.7C891.4,107,960,181,1029,224C1097.1,267,1166,277,1234,266.7C1302.9,256,1371,224,1406,208L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .waves-level-2 {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23427bff" fill-opacity=".7" d="M0,64L24,58.7C48,53,96,43,144,64C192,85,240,139,288,176C336,213,384,235,432,224C480,213,528,171,576,133.3C624,96,672,64,720,69.3C768,75,816,117,864,149.3C912,181,960,203,1008,181.3C1056,160,1104,96,1152,58.7C1200,21,1248,11,1296,16C1344,21,1392,43,1416,53.3L1440,64L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .waves-level-3 {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23427bff" fill-opacity="0.5" d="M0,128L24,154.7C48,181,96,235,144,218.7C192,203,240,117,288,85.3C336,53,384,75,432,90.7C480,107,528,117,576,149.3C624,181,672,235,720,250.7C768,267,816,245,864,234.7C912,224,960,224,1008,197.3C1056,171,1104,117,1152,117.3C1200,117,1248,171,1296,181.3C1344,192,1392,160,1416,144L1440,128L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .waves-reverse {
        position: relative;
        top: 375px;
        width: 100%;
        transform: rotate(180deg);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23427bff" fill-opacity="1" d="M0,128L34.3,106.7C68.6,85,137,43,206,58.7C274.3,75,343,149,411,176C480,203,549,181,617,149.3C685.7,117,754,75,823,90.7C891.4,107,960,181,1029,224C1097.1,267,1166,277,1234,266.7C1302.9,256,1371,224,1406,208L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        height: 375px;
    }

    .icon-container {
        display: inline-block;
        position: relative;
        padding: 0px 30px;
        padding-bottom: 40px;
        padding-top: 20px;
        overflow: hidden;
    }

    .icon-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid white;
        border-radius: 10%;
        clip-path: circle(0% at 50% 90%);
        transition: clip-path 0.8s ease-out;
    }

    .description {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        visibility: hidden;
        opacity: 0;
        transition:
            opacity 0.3s ease,
            visibility 0s linear 0.3s;
    }

    .icon-container:hover::before {
        clip-path: circle(75% at 50% 50%);
    }

    .icon-container:hover .description {
        visibility: visible;
        opacity: 1;
        transition:
            opacity 0.3s ease,
            visibility 0s;
    }

    @media (max-width: 768px) {
        .about-container {
            padding: 20px;
            top: -30px;
            height: 1050px;
        }

        .section-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .section-subtitle {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            white-space: nowrap;
        }

        .section-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .waves-level-1,
        .waves-level-2,
        .waves-level-3,
        .waves-reverse {
            height: 200px;
            top: 670px;
        }

        .waves-reverse {
            height: 200px;
            top: -30px;
        }

        .row {
            flex-wrap: wrap;
        }

        .icon-container {
            padding: 0px 25px; 
            padding-bottom: 35px;
            padding-top: 10px;
            overflow: visible;
            box-sizing: border-box; 
            transform: scale(0.9);
        }

        .description {
            bottom: 2.5px;
            margin-bottom: 5px;
        }

    }
</style>
