---
import ContactForm from "../widgets/ContactForm.astro";
const { currentLanguage } = Astro.props;

---

<section id="contact" class="contact">
    <div>
        <h1 class="section-title text-center" id="contact-title">{currentLanguage === 'spanish' ? 'Contacto': 'Contact'}</h1>
        <p class="section-text" id="contact-text"> 
            {currentLanguage === 'spanish' ? 'En la actualidad, me encuentro plenamente satisfecho con mi posición laboral, sin embargo, permanezco abierto a explorar diversas propuestas freelance o vacantes de empleo. Para contactarme, puedes hacerlo utilizando el formulario que se encuentra aquí abajo, o bien, a través de mi perfil de LinkedIn.': 'Currently, I am fully satisfied with my job position, however, I remain open to explore various freelance proposals or job openings. To contact me, you can do so using the form below, or through my LinkedIn profile.'}
        </p>
        <div class="contact-container">
            <ContactForm currentLanguage={currentLanguage}/>
        </div>
    </div>
</section>

<style>


    .section-text {
        font-size: 1.25rem;
        text-align: start;
        margin-bottom: 2rem;
        padding: 20px 300px;
    }
    
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    @media (max-width: 768px) {
        .section-title {
            margin: 1.5rem 0;
        }

        .section-text {
            font-size: .85rem;
            padding: 0 20px; 
        }
    }



</style>
